:root {


    --main-bg: #000000;
    --entry-bg: #202020;   /*#22AAA1;*/
    --entry-shadow: #888;

    --onyx: #393d3f;
    --text: #ffffff;

}

.open-sans-300 {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.open-sans-400 {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.open-sans-500 {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.open-sans-600 {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

/* .entry-header {
    color: var(--main-bg);
} */

.entry-header-left {
    font-size: 32px;
}

.entry-header-right {
    font-size: 20px;
    align-self: flex-end;
}

body {
    display: block;
    margin: auto;
    background-color: var(--main-bg);
    color: var(--text);
    
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;    
}

.content {
    width: 420px;
    margin: auto;
    background-color: var(--main-bg);
    border-radius: 5px;
}

.entry {
    position: relative;
    margin: 10px auto 10px auto;
    /* padding: 2% 5%; */
    background-color: var(--entry-bg);
    border-radius: 10px;
    overflow: hidden;
    /* border: 1px solid #999; */
    /* text-align: center; */
}

.entry-header {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    /* width: 100%; */
}

.lowercase {
    text-transform: lowercase;
}

.nav {
    background-color: var(--onyx);
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    color: white;
    z-index: 1000;
}

.nav.next {
    /* transform: translateY(-100%); */
    right: 0;
}

.nav.prev {
    left: 0;
}

.image-row {
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* gap: 10px; */
    /* margin: auto; */
    /* width: 420px; */
    /* padding: 2%; */
    transition: transform 0.4s ease;
    /* justify-content: center; */
}

.image-row img {
    object-fit: cover;
    width: 420px;
    /* width: 100%; */
    /* height: 150px; */
    flex-shrink: 0;
    /* margin-right: 10px; */
    /* margin-left: 10px; */
    /* max-height: 250px; */

    /* transition: all 150ms ease-in-out; */

    /* box-shadow: none; */
}




.hidden {
    display: none !important;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#expanded-img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
}



/* @media (max-width: 992px) {
    .content {
        width: 90%;
    }

    .image-row img:hover {
        transform: none;
    }
} */

/* .image-row .img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
}

.image-row .img-wrap img {
    transition: all 0.3s ease;
    margin-top: 20px;
    max-width: 100%;
    max-height: 100%;
}

.image-row .img-wrap img:hover {
    transform: scale(1.1);
} */
