{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Adam's Photo Journal{% endblock %}</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    {% block style %}
    <link rel="stylesheet" href="{% static 'journal/main.css' %}">
    {% endblock %}

</head>
  <body>

    <div class="content">
      <div class="navbar">
        <a href="/" class="logo open-sans-400">adamsai.ch</span>
        <div class="nav-links">
          {% if user.is_authenticated %}
            <a href="/manage" class="link open-sans-400">manage</a>
            <a href="/logout" class="link open-sans-400">logout</a>
          {% else %}
            <a href="/login" class="link open-sans-400">login</a>
          {% endif %}
        </div>
      </div>

      {% block content %}

      {% endblock %}
    </div>

  </body>
</html>