{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Adam's Photo Journal</title>
    <link rel="stylesheet" href="{% static 'journal/upload.css' %}">
</head>
<body>
    <div class="content">
        <div class="inner-content">
            <h2 class="header">New Entry</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>